<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    控制mybatis全局行为-->
    <settings>
        <!--        设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <!--    mappers 代表sql mapper(sql 映射文件) 的位置-->
    <mappers>
        <!--       resource:从类路径开始(target/classes) -->
        <!--        <mapper resource="com/unicorn/dao/StudentDao.xml"/>-->

        <!--        使用package标签, 指定包下所有xml文件都会被扫描, 要求mapper文件名与dao接口名一致,包括大小写-->
        <package name="com.unicorn.dao"/>
    </mappers>


</configuration>

        <!--
            这个是mybatis的主配置文件, 主要定义了数据库的配置信息, sql映射文件的位置
            <configuration> 是根标签
        -->