<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    控制mybatis全局行为-->
    <settings>
<!--        设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    环境配置 : 数据库的连接信息, 可有多个环境-->
    <environments default="development">
<!--        一个数据库信息的配置(环境)-->
        <environment id="development">
<!--            transactionManager代表事务类型-->
            <transactionManager type="JDBC"/>
<!--           dataSource表示数据源, type表示数据源类型, POOLED表示使用连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

<!--    mappers 代表sql mapper(sql 映射文件) 的位置-->
    <mappers>
<!--       resource:从类路径开始(target/classes) -->
        <mapper resource="com/unicorn/dao/StudentDao.xml"/>
    </mappers>
</configuration>

<!--
    这个是mybatis的主配置文件, 主要定义了数据库的配置信息, sql映射文件的位置
    <configuration> 是根标签
-->