<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="company" class="com.unicorn.entity.Company">
        <property name="name" value="腾讯"/>
        <property name="address" value="深圳市南山区"/>
    </bean>
</beans>